force-app/main/default/flows/Loyalty_Status_Update_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <decisions>
        <name>Determine_Loyalty_Status</name>
        <label>Determine Loyalty Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_to_Silver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Silver</defaultConnectorLabel>
        <rules>
            <name>Gold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Customers.Total_Purchase__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_Gold</targetReference>
            </connector>
            <label>Gold</label>
        </rules>
        <rules>
            <name>Bronze</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Customers.Total_Purchase__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>500.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_Bronze</targetReference>
            </connector>
            <label>Bronze</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Loyalty Status Update Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Loyalty Status Update Flow</label>
    <loops>
        <name>Loop_Through_Customers</name>
        <label>Loop Through Customers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_HandsMen_Customers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Determine_Loyalty_Status</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_HandsMen_Customers</name>
        <label>Get HandsMen Customers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Customers</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>HandsMen_Customer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_to_Bronze</name>
        <label>Update to Bronze</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Through_Customers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Customers.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Loyalty_Status__c</field>
            <value>
                <stringValue>Bronze</stringValue>
            </value>
        </inputAssignments>
        <object>HandsMen_Customer__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_Gold</name>
        <label>Update to Gold</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Through_Customers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Customers.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Loyalty_Status__c</field>
            <value>
                <stringValue>Gold</stringValue>
            </value>
        </inputAssignments>
        <object>HandsMen_Customer__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_Silver</name>
        <label>Update to Silver</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_Through_Customers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_Customers.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Loyalty_Status__c</field>
            <value>
                <stringValue>Silver</stringValue>
            </value>
        </inputAssignments>
        <object>HandsMen_Customer__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_HandsMen_Customers</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-07-14</startDate>
            <startTime>17:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
</Flow>
